/* PHASE 0: Sidebar */
.content-sidebar {
    position: relative;
}

.profile-picture {
    display: block;
    position: relative;
    margin-top: -100px;
    overflow: hidden;
    border: 1px solid black;
}

.online {
    position: absolute;
    color: blue;
    background-color: lightsalmon;
    top: -35px;
    left: -20px;
    padding: 5px 45px;
    border: 1px solid black;
    letter-spacing: 3px;
    box-shadow: 0 1px 0 0 rgb(255, 135, 135);
    transform: rotate(-45deg) translateX(-25%);
    text-transform: uppercase;
    overflow: auto;
}

.profile-info h3 {
    font-size: 25px;
}

.profile-info p {
    margin-bottom: 20px;
}

.profile-nav ul li:first-child {
    border-top: 1px solid lightgray;
}

.profile-nav ul li {
    border-bottom: 1px solid lightgray;
    /* padding-top: 10px; */
}

.profile-nav ul li a {
    display:inline-block;
    font-weight: bolder;
    padding: 5px;
    
}

.thumb {
    display: flex;
    /* padding: 20px 10px; */
    
}

/* .thumb ul li {
    width: 200px;
    height: 200px;
    /* flex-wrap: wrap; */
/* } */ 

/* .thumb ul li a img {
    width: 50px;
    height: 50px;
} */

/* .thumb ul li:nth-child(4) {

    margin-left: 10px;  
} */
.thumb li:nth-child(3n - 1) {
  margin: 0 20px 20px 20px;
}

